# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Ambiente
.env
.env.*

# Banco de dados
*.sqlite
*.db
*.dump
*.sql

# Prisma
prisma/migrations/
prisma/dev.db

# Cache e build
dist/
build/
.cache/
.tmp/
.vscode/

# Testes
coverage/
*.lcov

# SO / Editor
.idea/
.vscode/
*.swp

# Linux/macOS executáveis temporários
*.out
*.pid

# Arquivos do próprio Git
.git/

# Arquivos PDF, backups, temporários
*.pdf
*.bak
*.old
