[Unit]
Description=Controle Financeiro PostgreSQL
After=network.target postgresql.service

[Service]
User=user
WorkingDirectory=/home/user/Documentos/Controle-Financeiro-SQL
ExecStart=/home/user/Documentos/Controle-Financeiro-SQL/start.sh daemon
ExecStop=/home/user/Documentos/Controle-Financeiro-SQL/start.sh stop
Type=forking
Restart=on-failure

[Install]
WantedBy=multi-user.target
